body{
    background-color:#8A2E60;
    color:#FDFEAA;
}

a:link{
    color:#AA7F39;
    text-align: left;
    font-family: "Lucida Bright", serif;
}

a:visited{
    color:#DC8BA9;
    font-family: "Lucida Bright", serif;
}

title{
    font-family: "Rockwell", serif;
    text-align: center;
}

h1 {
    font-size: 250%;
    text-align: center;
    font-family: "Rockwell", serif;
}

h2 {
    font-size: 200%;
    text-align: center;
    font-family: "Rockwell", serif;
}

h3{
    font-family: "Rockwell", serif;
    text-align: center;
}

h4{
    font-family: "Rockwell", serif;
    font-size:200%
}

p {
    font-size: 100%;
    text-align: center;
    font-family: "Rockwell", serif;
}

.nav ul{
    list-style: none
    background-color:#AC8336;
    font-family: "Lucida Bright", serif;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li{
    font-family: "Rockwell", serif;
    display: inline-block;
    height: 40px;
    width: 120px;
    border-bottom: none;
}

ol{
    font-family: "Rockwell", serif;
}

.nav a{
    text-decoration: none;
    display: block;
    font-family: "Lucida Bright", serif;
    color:#DE94AF;
}